@using EntityLayer.Concrete
@model List<Content>

@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
{
    <p>
        Aranacak Kelimeyi Girin: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
@foreach (var item in Model)
{
    <ul>
        <li>@item.ContentValue ( @item.Writer.WriterName @item.Writer.WriterSurName )</li>
    </ul>
}