
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Yazar Kayıt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/AdminLTE-3.0.4/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(../../AdminLTE-3.0.4/Login/images/bg-01.jpg);">
                    <span class="login100-form-title-1">
                        Yazar Kayıt
                    </span>
                </div>

                <form class="login100-form validate-form" method="post">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100"><i class="fa fa-user-o" style="font-size: 25px;"></i></span>
                        <input class="input100" type="text" name="WriterName" placeholder="Adınız">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100"><i class="fa fa-user-o" style="font-size: 25px;"></i></span>
                        <input class="input100" type="text" name="WriterSurName" placeholder="Soyadınız">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100"><i class="fa fa-image" style="font-size: 25px;"></i></span>
                        <input class="pt-2" type="file" name="WriterImage">
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100"><i class="fa fa-envelope-o" style="font-size: 25px;"></i></span>
                        <input class="input100" type="text" name="WriterMail" placeholder="Mail Adresiniz">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100"><i class="fa fa-lock" style="font-size: 30px;"></i></span>
                        <input class="input100" type="password" name="WriterPassword" placeholder="Parola">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100"><i class="fa fa-comment-o" style="font-size: 25px;"></i></span>
                        <input class="input100" type="text" name="WriterAbout" placeholder="Hakkınızda">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100"><i class="fa fa-id-card-o" style="font-size: 25px;"></i></span>
                        <input class="input100" type="text" name="WriterTitle" placeholder="Mesleğiniz">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Kaydet
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/AdminLTE-3.0.4/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/AdminLTE-3.0.4/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/Login/js/main.js"></script>

</body>
</html>
